# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
.env
*.zip
dossier sans titre
app douane saisi note de valeur
pdf_test_output
*.cjs
delete_company.js
fix_orphaned_users.js
gen_codes.js
move_search.cjs
test_pdf.js
upload_tariff.mjs
update_ui.cjs
